desktop.ini
*.ini
.favorites.json
composer.lock
vendor/
fade_230808.js
./try.php
./try.html
debug.php
src/data/users/JaneDoe@example.com-24080101000000/days/**.tsv
src/data/users/JaneDoe@example.com-24080101000000/days_SAV.zip
src/data/users/Walter/**
tools/deploy/debug/**
tools/migration/days/**
nutri-counter-esprimo-old.code-workspace
nutri-counter.sublime-project
nutri-counter.sublime-workspace
walterjab@gmail.com-25042801000000/
src/tools/bulk_price_upd/data/comments.md
src/tools/bulk_price_upd/data/import_SAV.yml
src/tools/bulk_price_upd/data/import.yml
