/* Help */

.help {
  max-width: 400px;
}

/* Food list */

.food-item {
  cursor: pointer;  /* TASK */
}

/* Quick summary */

.align-split {
  display: flex;
  justify-content: space-between;
}

/* Tools */

.scrollable-list {
  /* height: 100vh; */ /* 100% of the viewport height */
  overflow-y: auto;
  border: 1px solid #ddd;
}
