body {
  padding-top: 76px;           /* Adjust based on your top navbar height */
  /* padding-bottom: 70px; */  /* Adjust based on your tab bar height */
}

@media (max-width: 767.98px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.goals {
  height: 200px;
}

@media (min-width: 992px) {
  body, .container-fluid, .row-fullheight {
    height: 100%;
  }
}
