<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nutrition Layout</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
    @media (max-width: 767.98px) and (orientation: landscape) {
      html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
    .goals {
      height: 200px;
    }
    @media (min-width: 992px) {
      body, .container-fluid, .row-fullheight {
        height: 100%;
      }
      .scrollable-content {
        height: 100%;
        overflow-y: auto;
      }
    }
  </style>
</head>
<body class="d-flex flex-column h-100">
  <div class="container-fluid flex-grow-1">
    <div class="row h-100">
      <div class="col-lg-4 col-md-6 d-flex flex-column h-100">
        <h2>Day List</h2>
        <div class="scrollable-content flex-grow-1">
          <ul class="list-group">
            <li class="list-group-item">Nutrient 1</li>
            <li class="list-group-item">Nutrient 2</li>
            <li class="list-group-item">Nutrient 3</li>
            <li class="list-group-item">Nutrient 4</li>
            <li class="list-group-item">Nutrient 5</li>
            <li class="list-group-item">Nutrient 6</li>
            <li class="list-group-item">Nutrient 7</li>
            <li class="list-group-item">Nutrient 8</li>
            <li class="list-group-item">Nutrient 9</li>
            <li class="list-group-item">Nutrient 10</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-md-6 d-flex flex-column h-100">
        <div class="goals overflow-auto">
          <h2>Goals</h2>
          <p>This day's nutrient intake goals</p>
        </div>
        <div class="flex-grow-1 d-flex flex-column">
          <h2>Food List</h2>
          <div class="scrollable-content flex-grow-1">
            <ul class="list-group">
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 2</li>
              <li class="list-group-item">Food 3</li>
              <li class="list-group-item">Food 4</li>
              <li class="list-group-item">Food 5</li>
              <li class="list-group-item">Food 6</li>
              <li class="list-group-item">Food 7</li>
              <li class="list-group-item">Food 8</li>
              <li class="list-group-item">Food 9</li>
              <li class="list-group-item">Food 10</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
              <li class="list-group-item">Food 1</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
